<!DOCtype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Admin Login </title>
    <link rel="stylesheet" href="/css/form-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet"/>
</head>
<body class="memories-body">

<div class="signupSection" id="signupSection">
    <div class="info">
        <p class="backButton">
            <a href="/" class="btn btn-primary my-2">Back to homepage</a>
        </p>
    </div>

    <form th:action="@{/admin/login}" method="post" class="signupForm memory-card">
        <h2>Admin Login</h2>

        <div th:if="${param.error}">
            <h4 style="color: red">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</h4>
        </div>

        <div>
            <label for="username">Username: </label>
            <input type="text" class="inputFields" id="username" name="username" autofocus="autofocus"
                   placeholder="Username" value=""/> <br/>
        </div>

        <div>
            <label for="password">Password: </label>
            <input type="password" class="inputFields" id="password" name="password"/> <br/>
        </div>


        <input type="submit" value="Log in"/>

    </form>
</div>
</body>
</html>
