<!DOCtype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">

    <link rel="stylesheet" href="/css/form-style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet"/>

    <title>Admin Control Panel</title>
    <link rel="icon" type="image/x-icon" href="assets/favicon.ico"/>
</head>
<body class="wine-body">

<div class="signupSection" id="signupSection">
    <div class="info wine-left-form">
        <p class="backButton">
            <a href="/" class="btn btn-primary my-2">Frontpage</a>
        </p>
        <img src="/assets/img/admin_icon.png" class="icon"/>
    </div>

    <div class="signupForm wine-card">

        <h2>Admin Control Panel</h2>
        <p>Your username is: <b>[[${#request.userPrincipal.principal.username}]]</b></p>
        <p>Your role is: <b>[[${#request.userPrincipal.principal.role}]]</b></p>

        <span>
            <a href="/admin/adduser" class="btn btn-primary my-2">Add a user</a>
            <a href="/admin/removeuser" class="btn btn-secondary my-2">Remove a user</a>
        </span>

        <form th:action="@{/logout}" method="POST">
            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
            <input type="submit" value="Logout"/>
        </form>

    </div>
</div>
</body>
</html>