<!DOCtype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Selected Wine Review</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/image_gallery.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/wineReviewViewScript.js"></script>
    <script src="/js/updateRatingStars.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="/css/styles.css" rel="stylesheet"/>

</head>

<body class = "wine-body">
<body class = "rating">
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li sec:authorize="${!hasAuthority('ADMIN')}" class="nav-item"><a class="nav-link" href="/admin/login">Login</a></li>
                <li sec:authorize="${hasAuthority('ADMIN')}" class="nav-item"><a class="nav-link" href="/admin/home">
                    [[${#request.userPrincipal.principal.username}]]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<section class="jumbotron text-center wine-header">
    <div class="container">
        <p>
            <a href="/winereviews" class="btn btn-primary my-2">All reviews</a>

            <a sec:authorize="${hasAuthority('ADMIN')}" th:href="@{/admin/winereviews/edit/{id}(id = ${wineReview.id})}" class="btn btn-secondary my-2">Edit this review</a>
        </p>
        <h1 class="jumbotron-heading"><span th:id="${'name-year-' + wineReview.id}"
                                            th:text="${wineReview.name + ' - ' + wineReview.year}"></span></h1>

        <p class="lead"><span th:id="${'type-price-' + wineReview.id}"
                              th:text="${wineReview.type + ' - ' + wineReview.price + 'kr'}"></span></p>
        <p class="rating">
        <div class="stars-outer">
            <div th:id="${'inner-star-' + wineReview.id}" class="stars-inner"
                 th:style="${'width: ' + wineReview.rating}"></div>
        </div>

        <p>
            <span class="view-text" th:text="${wineReview.note}"></span>
        </p>

        <script th:inline="javascript">
             change_wine_review_view([[${wineReview}]]);
            updateRatingStars([[${wineReview}]])
        </script>


    </div>
</section>


<!-- Page Content -->
<div class="container page-top">
    <div class="row">
        <th:block th:each="winePhoto: ${wineReview.photos}">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a th:href="@{${'/wine_review_photos/' + wineReview.id + '/' + winePhoto.imgFilename}}"
                   class="fancybox" rel="ligthbox">
                    <img th:src="@{${'/wine_review_photos/' + wineReview.id + '/thumbnails/\_\_th\_\_' + winePhoto.imgFilename}}"
                         width="300" height="400" class="zoom img-fluid " alt="">
                </a>
            </div>
        </th:block>
    </div>

</div>

<script src="/js/review_image_gallery.js"></script>

</body>
