<!DOCtype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="/css/styles.css" rel="stylesheet"/>

    <script src="/js/wineReviewViewScript.js"></script>
    <script src="/js/updateRatingStars.js"></script>
    <script src="/js/truncateNote.js"></script>
    <title>Wine Reviews</title>

</head>
<body class = "rating">
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li sec:authorize="${!hasAuthority('ADMIN')}" class="nav-item"><a class="nav-link" href="/admin/login">Login</a></li>
                <li sec:authorize="${hasAuthority('ADMIN')}" class="nav-item"><a class="nav-link" href="/admin/home">
                    [[${#request.userPrincipal.principal.username}]]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main role="main">

    <section class="jumbotron text-center wine-header">
        <div class="container">
            <h1 class="jumbotron-heading">Vin</h1>
            <p class="lead">Amme och Jonas samlade Vinrecensioner!!</p>

            <span sec:authorize="${hasAuthority('ADMIN')}">
                <a href="/admin/addwinereview" class="btn btn-primary my-2">Add a review</a>
            </span>

                <a href="/" class="btn btn-secondary my-2">Back to homepage</a>
            </p>
        </div>
    </section>

<!-- class="album py-5 bg-light" -->
    <div class="album py-5 wine-body" >
        <div class="container album-min-size">

            <div class="row">
                <th:block th:each="wineReview: ${allWineReviews}">

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm">
                            <img th:id="${'photo-' + wineReview.id}" th:src="'/wine_review_photos/' + ${wineReview.id} + '/thumbnails/' + ${wineReview.profilePicture}"
                                 width="100%" height="225" alt = "Photo of wine" onerror="this.src='../assets/img/wine_icon.png'">
                            <div class="card-body wine-card">
                                <p class="card-text">
                                <span th:id="${'name-year-' + wineReview.id}" class="card-text-title" th:text="${wineReview.name + ' - ' + wineReview.year}"></span>
                                <p>
                                <span th:id="${'type-price-' + wineReview.id}" class="card-text-it" th:text="${wineReview.type + ' - ' + wineReview.price + 'kr'}"></span>
                                </p>
                                <p class = "rating">

                                <div class="stars-outer">
                                    <div th:id ="${'inner-star-' + wineReview.id}" class="stars-inner" th:style = "${'width: ' + wineReview.rating}"></div>
                                </div>
                                <p>
                                    <span th:id="${'note-' + wineReview.id}" class="card-text" th:text="${wineReview.note}"></span>
                                </p>
                                <script th:inline="javascript">
                                    change_wine_review_view([[${wineReview}]]);
                                    updateRatingStars([[${wineReview}]]);
                                    truncateNote([[${wineReview}]]);
                                </script>

                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{/winereviews/see/{id}(id = ${wineReview.id})}" class="btn btn-primary">View</a>
                                        <a sec:authorize="${hasAuthority('ADMIN')}" th:href="@{/admin/winereviews/edit/{id}(id = ${wineReview.id})}" class="btn btn-outline-secondary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </th:block>
            </div>
        </div>
    </div>

</main>


<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery/jquery.slim.min.js"></script>
<script src="/js/popperjs/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js	"></script>

<footer class="bg-light py-3">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2022 - JONAS Å AMME!</div>
    </div>
</footer>

</body>

</html>