<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Selected Wine Review</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/image_gallery.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/updateRatingStars.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="/css/styles.css" rel="stylesheet"/>

</head>

<body class="recipes-body">
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<section class="jumbotron text-center recipes-header">
    <div class="container">
        <p>
            <a href="/recipes" class="btn btn-primary my-2">All recipes</a>
            <a th:href="@{/recipes/edit/{id}(id = ${recipe.ID})}" class="btn btn-secondary my-2">Edit this recipe</a>
        </p>
        <h1 class="jumbotron-heading"><span th:id="name"
                                            th:text="${recipe.NAME}"></span></h1>


        <p class="rating">
        <div class="stars-outer">
            <div th:id="${'inner-star-' + recipe.ID}" class="stars-inner"
                 th:style="${'width: ' + recipe.RATING}"></div>
        </div>

        <p>
        <h2>
            Ingredients
        </h2>
            <span class="view-text" th:text="${recipe.INGREDIENTS}"></span>
        </p>

        <p>
            <h2>
            Instructions
             </h2>
            <span class="view-text" th:text="${recipe.INSTRUCTIONS}"></span>
        </p>

        <script th:inline="javascript">
             updateRatingStars([[${recipe}]]);
        </script>


    </div>
</section>


<!-- Page Content -->
<div class="container page-top">
    <div class="row">
        <th:block th:each="recipePhoto: ${recipe.photos}">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a th:href="@{${'/recipes_photos/' + recipe.ID + '/' + recipePhoto.IMG_FILENAME}}"
                   class="fancybox" rel="ligthbox">
                    <img th:src="@{${'/recipes_photos/' + recipe.ID + '/thumbnails/\_\_th\_\_' + recipePhoto.IMG_FILENAME}}"
                         width="300" height="400" class="zoom img-fluid " alt="">
                </a>
            </div>
        </th:block>
    </div>

</div>

<script src="/js/review_image_gallery.js"></script>

</body>
