<!DOCtype html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="ISO-8859-1">
    <title>Selected Wine Review</title>
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/image_gallery.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/js/updateRatingStars.js"></script>
    <!------ Include the above in your HEAD tag ---------->
    <link href="/css/styles.css" rel="stylesheet"/>

</head>

<body class="recipe-body">
<body class = "rating">
<nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container px-4 px-lg-5">
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ms-auto my-2 my-lg-0">
                <li sec:authorize="${!hasAuthority('ADMIN')}" class="nav-item"><a class="nav-link" href="/admin/login">Login</a></li>
                <li sec:authorize="${hasAuthority('ADMIN')}" class="nav-item"><a class="nav-link" href="/admin/home">
                    [[${#request.userPrincipal.principal.username}]]</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
      media="screen">
<script src="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>

<section class="jumbotron text-center recipe-header">
    <div class="container">
        <p>
            <a href="/recipe" class="btn btn-primary my-2">All recipes</a>
            <span sec:authorize="${hasAuthority('ADMIN')}">
                <a th:href="@{/admin/recipes/edit/{id}(id = ${recipe.id})}" class="btn btn-secondary my-2">Edit this
                recipe</a>
            </span>

        </p>
        <h1 class="jumbotron-heading"><span th:id="name"
                                            th:text="${recipe.name}"></span></h1>


        <p class="rating">
        <div class="stars-outer">
            <div th:id="${'inner-star-' + recipe.id}" class="stars-inner"
                 th:style="${'width: ' + recipe.rating}"></div>
        </div>

        <p>
        <h2>
            Ingredients
        </h2>
        <span class="view-text" th:text="${recipe.ingredients}"></span>
        </p>

        <p>
        <h2>
            Instructions
        </h2>
        <span class="view-text" th:text="${recipe.instructions}"></span>
        </p>

        <script th:inline="javascript">
             updateRatingStars([[${recipe}]]);

        </script>


    </div>
</section>


<!-- Page Content -->
<div class="container page-top">
    <div class="row">
        <th:block th:each="recipePhoto: ${recipe.photos}">

            <div class="col-lg-3 col-md-4 col-xs-6 thumb">
                <a th:href="@{${'/recipe_photos/' + recipe.id + '/' + recipePhoto.imgFilename}}"
                   class="fancybox" rel="ligthbox">
                    <img th:src="@{${'/recipe_photos/' + recipe.id + '/thumbnails/\_\_th\_\_' + recipePhoto.imgFilename}}"
                         width="300" height="400" class="zoom img-fluid " alt="">
                </a>
            </div>
        </th:block>
    </div>

</div>

<script src="/js/review_image_gallery.js"></script>

</body>
