<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Site CSS -->
    <link rel="stylesheet" href="/css/site.css">
    <link rel="stylesheet" href="/css/album.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <title>Wine Reviews</title>

</head>
<body>


<main role="main">

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">Vin</h1>
            <p class="lead">Amme och Jonas samlade Vinrecensioner!!</p>
            <p>
                <a href="/addwinereview" class="btn btn-primary my-2">Add a review</a>
                <a href="/" class="btn btn-secondary my-2">Back to homepage</a>
            </p>
        </div>
    </section>
<!-- class="album py-5 bg-light" -->
    <div class="album py-5" style="background:#678c74;">
        <div class="container">

            <div class="row">
                <th:block th:each="wineReview: ${allWineReviews}">

                    <div class="col-md-4">
                        <div class="card mb-4 shadow-sm" style="background:rgba(20, 20, 20, .8);">
                            <img th:id="${'photo-' + wineReview.ID}" th:src="'/wine_review_photos/' + ${wineReview.ID} + '/thumbnails/' + ${wineReview.PROFILE_PICTURE}"
                                 width="100%" height="225" alt = "Photo of wine" onerror="this.src='../assets/img/wine_icon.png'">
                            <div class="card-body" style="background:rgba(20, 40, 40, .8);">
                                <p class="card-text" style="color:white">
                                <span th:id="${'name-year-' + wineReview.ID}" class="card-text-title" style="color:white" th:text="${wineReview.NAME + ' - ' + wineReview.YEAR}"></span>
                                <p>
                                <span th:id="${'type-price-' + wineReview.ID}" class="card-text-type" style="color:white" th:text="${wineReview.TYPE + ' - ' + wineReview.PRICE + 'kr'}"></span>
                                </p>
                                <p class = "rating">

                                <div class="stars-outer">
                                    <div th:id ="${'inner-star-' + wineReview.ID}" class="stars-inner" th:style = "${'width: ' + wineReview.RATING}"></div>
                                </div>
                                <script src="/js/wineReviewViewScript.js"></script>
                                <script th:inline="javascript">
                                    change_wine_review_view([[${wineReview}]]);
                                </script>
                                <p>
                                <span class="card-text-type" th:text="${wineReview.NOTE}" style="color:white"></span>
                                </p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <div class="btn-group">
                                        <a th:href="@{/winereview/see/{id}(id = ${wineReview.ID})}" class="btn btn-primary">View</a>
                                        <a th:href="@{/winereview/edit/{id}(id = ${wineReview.ID})}" class="btn btn-sm btn-outline-secondary">Edit</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    </th:block>
            </div>
        </div>
    </div>

</main>


<footer class="bg-light py-5">
    <div class="container px-4 px-lg-5">
        <div class="small text-center text-muted">Copyright &copy; 2022 - JONAS Å AMME!</div>
    </div>
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="/js/jquery/jquery.slim.min.js"></script>
<script src="/js/popperjs/popper.min.js"></script>
<script src="/js/bootstrap/bootstrap.min.js	"></script>


</body>
</html>