<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Selected Wine Review</title>
    <style type="text/css">
    span {
        display: inline-block;
        width: 200px;
        text-align: left;
    }
</style>
</head>
<body>
<div align="center">
    <h2>Wine Review</h2>
    <span>Name:</span><span th:text="${selectedWineReview.NAME}"></span><br/>
    <span>Year:</span><span th:text="${selectedWineReview.YEAR}"></span><br/>
    <span>Type:</span><span th:text="${selectedWineReview.TYPE}"></span><br/>
    <span>Rating:</span><span th:text="${selectedWineReview.RATING}"></span><br/>
    <span>Note:</span><span th:text="${selectedWineReview.NOTE}"></span><br/>

    <div style="align-items: center;">
        <tr th:each="winePhoto: ${selectedWineReview.photos}">
            <img th:src="@{${'/wine_review_photos/' + selectedWineReview.ID + '/' + winePhoto.IMG_FILENAME}}" width="300" height="400"/>

    </div>



</div>

<div align="center">
    <a href="/winereviews">Go back</a>
</div>

</body>
</html>